/* header */
header{
    height: 70px;
}
header ul.nav a{
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}
header ul.nav li:nth-of-type(2) a{
    font-size: 0.7rem;
}
.lip-mobile-logo{
    width: 50px;
}
/* wrapper */
.wrapper{
    margin-top: 70px;
    height: calc(100vh - 70px);

}
/* sidebar */
#sidebar{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
#sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar-hover{
    position: relative;
}
.sidebar-hover:hover{
    background-color: rgba(255, 255, 255, 0.4);
    filter: brightness(100);
}

/* main-content */




/* media */
@media screen and (min-width: 768px){
    /* side-bar */
    #sidebar{
        width: 150px;
    }
}