/* header */
header{
    height: 70px;
}
header ul.nav a{
    width: 20px;
    height: 20px;
    padding: 0;
    text-align: center;
}
header ul.nav li:nth-of-type(2) a{
    font-size: 0.7rem;
}
.lip-mobile-logo{
    width: 50px;
}
.lip-bg-search{
    background-color: #99919142;
}
.custom-tooltip{
transform: translateX();
}
/* wrapper */
.wrapper{
    margin-top: 70px;
    height: calc(100vh - 70px);

}
/* sidebar */
#sidebar{
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
#sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar-hover{
    position: relative;
}
.sidebar-hover:hover{
    background-color: rgba(255, 255, 255, 0.4);
    filter: brightness(100);
}

/* main-content */
/* main-aside */
.offcanvas-size-xl {
    --bs-offcanvas-width: min(95vw, 600px) !important;
}
.lip-bg-bread{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1px 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#bread-crumb nav{
    --bs-breadcrumb-divider: '>>';
    color: white;
}
#bread-crumb .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}
#bread-crumb ul{
    list-style: none;
}

/* media */
@media screen and (min-width: 768px){
    /* side-bar */
    #sidebar{
        width: 150px;
    }
}